In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv ("./Absenteeism-data.csv")

In [3]:
raw_df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [4]:
## Working with Reason for Absence
df_reason_for_abseces=raw_df["Reason for Absence"]
df_reason_for_abseces.head()

0    26
1     0
2    23
3     7
4    23
Name: Reason for Absence, dtype: int64

In [5]:
## We want to know how many the type of reason for absence by using min and max 
df_reason_for_abseces.max()
df_reason_for_abseces.min()
## And the result we get 29 type reason from 0 to 28

0

In [6]:
## Now we check the unique method to see is it not missing type from the data
df_reason_for_abseces.unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [7]:
len(df_reason_for_abseces.unique())

28

In [8]:
## We fint thas is just 28 type of reason that is mean there is have some missing reason so fine it !!
sorted(df_reason_for_abseces.unique())
## We can fine the missing by only use the uqique method but the output is not a list so that we be risk and not efectif

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [9]:
## Problem in here is we dont know the explaination for what the list reason stand for so we need see the legend create by the reseacher
## 2 Problem we need create dummy for reason so we can know how many person and what kind of reason they have 
## We create new collumns
reason_column=pd.get_dummies(df_reason_for_abseces)
reason_column

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
reason_column["Check"]=reason_column.sum(axis=1)

In [11]:
reason_column["Check"].unique()

array([1], dtype=int64)

In [12]:
reason_column.drop(columns=["Check"],inplace=True)

In [13]:
reason_column

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
## On this part we need to group the reason from the legend thats has create by researcher 
## So we get 1-14 are can group as reason_1, 15-17 as reason_2, 18-21 as reason_3, and 22-28 as reason_4
## Why ?? Because the reason 1-14 are on similiar reason and so like the other grup. 
## So we can make them as 4 group reason, because if we put the 28 reason thats will make the data is to wide
reason_column

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
## We need to create the variabel so we can put in df_drop_ID 
## Use axis 1 count it horizontaly
reason_type_1 = reason_column.loc [:,1:14].max(axis=1)
reason_type_2 = reason_column.loc [:,15:17].max(axis=1)
reason_type_3 = reason_column.loc [:,18:21].max(axis=1)
reason_type_4 = reason_column.loc [:,22:28].max(axis=1)

In [16]:
raw_df = pd.concat([raw_df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)

In [17]:
raw_df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [18]:
## Next we want to reneame the 4 reason gruop column
raw_df.columns.values

array(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 0, 1, 2, 3], dtype=object)

In [19]:
kolom=['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4']

In [20]:
df_clean = raw_df.copy()

In [21]:
df_clean.columns=kolom
df_clean.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [22]:
df_clean.drop(columns=["ID","Reason for Absence"],inplace=True)

In [23]:
df_clean.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [24]:
df_clean.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_type_1',
       'Reason_type_2', 'Reason_type_3', 'Reason_type_4'], dtype=object)

In [25]:
## Reorder the kolom
df_clean_reorder = ['Reason_type_1','Reason_type_2', 'Reason_type_3', 'Reason_type_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [26]:
df_clean=df_clean[df_clean_reorder]

In [27]:
df_clean

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2

## Next Task Working With Date Colloum

In [28]:
df_coloumn=df_clean.copy()

In [29]:
df_coloumn_only = df_coloumn["Date"]
df_coloumn_only.info

<bound method Series.info of 0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
          ...
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, Length: 700, dtype: object>

In [30]:
## Main Problem is date_colloum use / for seperating day,month,year | So we need change thats so can being analyst 
## Or the datatype is not float or integer 
df_clean["Date"]=pd.to_datetime (df_clean["Date"])

C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '23/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '17/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '24/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '13/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '20/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '27/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '30/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '17/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '24/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '19/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '28/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '27/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '20/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '21/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '13/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '24/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '21/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '28/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '22/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '29/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '23/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '30/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '18/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '25/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '13/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '21/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '22/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '20/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '23/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '30/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '19/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '18/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '20/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '25/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '27/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '26/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '18/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '13/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '21/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '28/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '25/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '26/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '23/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '25/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '17/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '16/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '21/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '22/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '24/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '25/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '28/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '29/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '30/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '17/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '18/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '13/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '14/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '15/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '22/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_9840\124875414.py:3: UserWarning: Parsing '29/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_clean["Date"]=pd.to_datetime (df_clean["Date"])

## Extract The Month Value :

In [31]:
## Append is excracting the data so in this case we want to exctract month value only but from 700 rows 
## So we will use for loop and storing the value to a list, and thas is why we create variabel list_month = []
list_month = []

for i in range(700):
    list_month.append(df_clean["Date"][i].month)

In [32]:
df_clean["Month Value"]=list_month
df_clean

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,2018-05-23,179,22,40,237.656,22,2,2,0,8,5
696,1,0,0,0,2018-05-23,225,26,28,237.656,24,1,1,2,3,5
697,1,0,0,0,2018-05-24,330,16,28,237.656,25,2,0,0,8,5
698,0,0,0,1,2018-05-24,235,16,32,237.656,25,3,0,0,2,5
699,0,0,0,1,2018-05-31,291,31,40,237.656,25,1,1,1,2,5

### Creat new colloum Day of the week

In [33]:
## So on the DF we has know the tanggal but we dont know what day its on week 
## So the goals is to exctact the day of the week
## And here we will define fungtions date_to_weekday
def date_to_weekday (date_value):
    return date_value.weekday()

In [34]:
## And next we just need to use the fungtions thas we has def(define)
df_clean["Day of Weekday"]=df_clean["Date"].apply(date_to_weekday)

In [35]:
df_clean.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of Weekday
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [37]:
## Import the dataset
df_clean.to_csv("Absenteeism_Clean.csv",index=False)