In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_used_cars = pd.read_csv('./bar_chart_data.csv')

In [3]:
df_used_cars

           Brand  Cars Listings
0           Audi            419
1            BMW            636
2  Mercedes-Benz            820
3     Mitsubishi            306
4        Renault            438
5         Toyota            509
6     Volkswagen            875