## Bikin Data Frame Manual
<u>**#1: Construct a DataFrame from a dictionary of lists**</u>

In [3]:
import pandas as pd
import numpy as np

In [5]:
data = {"ProductName":["Aven","Kevin","Arbi"],"ProductPrice":[12500,15500,20000]}
df = pd.DataFrame (data)
df

  ProductName  ProductPrice
0        Aven         12500
1       Kevin         15500
2        Arbi         20000

<u>**#2: Construct a DataFrame from a dictionary of lists + specify an index**</u>

In [10]:
data = {"ProductName":["Aven","Kevin","Arbi"],"ProductPrice":[12500,15500,20000]}
df = pd.DataFrame (data,index=[1,2,3])
df

  ProductName  ProductPrice
1        Aven         12500
2       Kevin         15500
3        Arbi         20000

In [13]:
data = {"ProductName":["Aven","Kevin","Arbi"],"ProductPrice":[12345,13000,32000]}
product_IDs = [1,2,3]
df = pd.DataFrame (data,index=[product_IDs])
df

  ProductName  ProductPrice
1        Aven         12345
2       Kevin         13000
3        Arbi         32000

<u>**#3: Construct a DataFrame from a list of dictionaries**<u/>

In [14]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [15]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [16]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

<u>**#4: Construct a DataFrame from a dictionary of pandas Series**<u/>

In [17]:
ser_product = pd.Series (["Product A","Product B","Product C"])
ser_price = pd.Series ([12000,14000,25000])

In [25]:
data = {'ProductName':ser_product,'ProductPrice':ser_price}
df = pd.DataFrame (data)
df

  ProductName  ProductPrice
0   Product A         12000
1   Product B         14000
2   Product C         25000

In [29]:
ser_product = pd.Series (["Product A","Product B","Product C"], index=['A','B','C'])
ser_price = pd.Series ([12000,14000,25000],index=['A','B','C'])
data = {'Product Name':ser_product,'Product Price':ser_price}
df = pd.DataFrame (data)
df

  Product Name  Product Price
A    Product A          12000
B    Product B          14000
C    Product C          25000

<u>**#5: Construct a DataFrame from a list of lists**<u/>

In [31]:
 data =[['Product A',24000],['Product B',34000],['Product C',65500]]
 df = pd.DataFrame (data)
 df

           0      1
0  Product A  24000
1  Product B  34000
2  Product C  65500

In [33]:
df.columns = ['Product Name','Product Price']
df

  Product Name  Product Price
0    Product A          24000
1    Product B          34000
2    Product C          65500

In [34]:
df.index = ["A,","B","C"]
df

   Product Name  Product Price
A,    Product A          24000
B     Product B          34000
C     Product C          65500

<u>**#6: Construct a DataFrame in a Professional Way**<u/>

In [36]:
df = pd.DataFrame (data=[["Ayam Goreng",'Rp 25.000'],["Kambing",'Rp 50.000'],["Sapi",'Rp 67,000']],
                    columns=["Nama Product","Harga"],
                    index=['A','B','C'])

df

  Nama Product      Harga
A  Ayam Goreng  Rp 25.000
B      Kambing  Rp 50.000
C         Sapi  Rp 67,000

In [37]:
df.shape

(3, 2)