In [2]:
import pandas as pd

## Triple Nested For Loop

In [3]:
product = ['Product A','Product B','Product C']
exp_sales = [10000,20000,30000,40000,5000]

In [4]:
time_horizon = (1,2,12)

In [5]:
for i in product:
    for j in exp_sales :
        for k in time_horizon :
            print ([i, j*k])

['Product A', 10000]
['Product A', 20000]
['Product A', 120000]
['Product A', 20000]
['Product A', 40000]
['Product A', 240000]
['Product A', 30000]
['Product A', 60000]
['Product A', 360000]
['Product A', 40000]
['Product A', 80000]
['Product A', 480000]
['Product A', 5000]
['Product A', 10000]
['Product A', 60000]
['Product B', 10000]
['Product B', 20000]
['Product B', 120000]
['Product B', 20000]
['Product B', 40000]
['Product B', 240000]
['Product B', 30000]
['Product B', 60000]
['Product B', 360000]
['Product B', 40000]
['Product B', 80000]
['Product B', 480000]
['Product B', 5000]
['Product B', 10000]
['Product B', 60000]
['Product C', 10000]
['Product C', 20000]
['Product C', 120000]
['Product C', 20000]
['Product C', 40000]
['Product C', 240000]
['Product C', 30000]
['Product C', 60000]
['Product C', 360000]
['Product C', 40000]
['Product C', 80000]
['Product C', 480000]
['Product C', 5000]
['Product C', 10000]
['Product C', 60000]

In [6]:
for prod in product:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ([prod,sale*t_hor])

['Product A', 10000]
['Product A', 20000]
['Product A', 120000]
['Product A', 20000]
['Product A', 40000]
['Product A', 240000]
['Product A', 30000]
['Product A', 60000]
['Product A', 360000]
['Product A', 40000]
['Product A', 80000]
['Product A', 480000]
['Product A', 5000]
['Product A', 10000]
['Product A', 60000]
['Product B', 10000]
['Product B', 20000]
['Product B', 120000]
['Product B', 20000]
['Product B', 40000]
['Product B', 240000]
['Product B', 30000]
['Product B', 60000]
['Product B', 360000]
['Product B', 40000]
['Product B', 80000]
['Product B', 480000]
['Product B', 5000]
['Product B', 10000]
['Product B', 60000]
['Product C', 10000]
['Product C', 20000]
['Product C', 120000]
['Product C', 20000]
['Product C', 40000]
['Product C', 240000]
['Product C', 30000]
['Product C', 60000]
['Product C', 360000]
['Product C', 40000]
['Product C', 80000]
['Product C', 480000]
['Product C', 5000]
['Product C', 10000]
['Product C', 60000]

In [7]:
for prod in product:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ("expected sales for a period of {0} month (s) for {1}: ${sales}".format(t_hor, prod, sales = sale*t_hor))

expected sales for a period of 1 month (s) for Product A: $10000
expected sales for a period of 2 month (s) for Product A: $20000
expected sales for a period of 12 month (s) for Product A: $120000
expected sales for a period of 1 month (s) for Product A: $20000
expected sales for a period of 2 month (s) for Product A: $40000
expected sales for a period of 12 month (s) for Product A: $240000
expected sales for a period of 1 month (s) for Product A: $30000
expected sales for a period of 2 month (s) for Product A: $60000
expected sales for a period of 12 month (s) for Product A: $360000
expected sales for a period of 1 month (s) for Product A: $40000
expected sales for a period of 2 month (s) for Product A: $80000
expected sales for a period of 12 month (s) for Product A: $480000
expected sales for a period of 1 month (s) for Product A: $5000
expected sales for a period of 2 month (s) for Product A: $10000
expected sales for a period of 12 month (s) for Product A: $60000
expected sales for a period of 1 month (s) for Product B: $10000
expected sales for a period of 2 month (s) for Product B: $20000
expected sales for a period of 12 month (s) for Product B: $120000
expected sales for a period of 1 month (s) for Product B: $20000
expected sales for a period of 2 month (s) for Product B: $40000
expected sales for a period of 12 month (s) for Product B: $240000
expected sales for a period of 1 month (s) for Product B: $30000
expected sales for a period of 2 month (s) for Product B: $60000
expected sales for a period of 12 month (s) for Product B: $360000
expected sales for a period of 1 month (s) for Product B: $40000
expected sales for a period of 2 month (s) for Product B: $80000
expected sales for a period of 12 month (s) for Product B: $480000
expected sales for a period of 1 month (s) for Product B: $5000
expected sales for a period of 2 month (s) for Product B: $10000
expected sales for a period of 12 month (s) for Product B: $60000
expected sales for a period of 1 month (s) for Product C: $10000
expected sales for a period of 2 month (s) for Product C: $20000
expected sales for a period of 12 month (s) for Product C: $120000
expected sales for a period of 1 month (s) for Product C: $20000
expected sales for a period of 2 month (s) for Product C: $40000
expected sales for a period of 12 month (s) for Product C: $240000
expected sales for a period of 1 month (s) for Product C: $30000
expected sales for a period of 2 month (s) for Product C: $60000
expected sales for a period of 12 month (s) for Product C: $360000
expected sales for a period of 1 month (s) for Product C: $40000
expected sales for a period of 2 month (s) for Product C: $80000
expected sales for a period of 12 month (s) for Product C: $480000
expected sales for a period of 1 month (s) for Product C: $5000
expected sales for a period of 2 month (s) for Product C: $10000
expected sales for a period of 12 month (s) for Product C: $60000

## List Comprehensions

In [8]:
number = [10,20,30,40,100,43]
number

[10, 20, 30, 40, 100, 43]

In [9]:
new_number = []

for n in number:
        new_number.append(n*2)

print(new_number)

[20, 40, 60, 80, 200, 86]

In [10]:
new_number = [n*2 for n in number]
print (new_number)

[20, 40, 60, 80, 200, 86]

In [11]:
for i in range (2):
    for j in range (5):
        print( i+j, end =" " )

0 1 2 3 4 1 2 3 4 5

In [12]:
new_comperhasions1 = [i+j for i in range(2) for j in range(5)]
new_comperhasions1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [13]:
type(new_comperhasions1)

list

In [14]:
new_comperhasions2 = [[i+j for i in range(2)] for j in range(5)]
new_comperhasions2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [15]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
[num ** 3 for num in range(1,11) if num %2 != 0]

[1, 27, 125, 343, 729]

In [17]:
for i in range(1,11):
    if i %2 !=0:
        print(i ** 3, end=" ")

1 27 125 343 729

## Lambda Fungtios

#### Fungsi Lambda adalah fungsi tanpa nama

##### Fugsi lamda adalah jalan pintas (Shortcut), untuk membuat fungsi sederhana dan dapat dideklarasikan pada tempat dimana fungsi objek dibutuhkan

In [1]:
tambah_10 = lambda x: x + 10

In [18]:
tambah_10(3) ## hasilnya 3+10 = 13

13

In [19]:
pangkat_5 = lambda x: x ** 5

In [20]:
pangkat_5(2) ## Hasilnya 2 pangkat 5 = 32

32

In [25]:
Peternak_DKI = pd.read_csv ("./data-jumlah-peternak-di-provinsi-dki-jakarta-tahun-2010-2017.csv")

### pakai Lambda fungtios tapi tanpa variabel kalau kondisi perhitunganya banyak/atau mau lebih cepat

In [21]:
(lambda x: x/2) (5) ## hasilnya 5/2 = 2.5

2.5

In [22]:
(lambda x: (2+5 * x ** 4)**2 / (x + 3)** 3)(2) ## disini x = 2 maka hasilnya  53.792

53.792

In [27]:
Peternak_DKI.head()

   tahun    jenis_ternak  jumlah_peternak satuan_peternak
0   2010    Sapi perah                127           orang
1   2010     Sapi potong                0           orang
2   2010          Kerbau               12           orang
3   2010  Kambing/ Domba              362           orang
4   2010        Ayam ras               14           orang

### Lambda fungtions juga bisa banyak parameter contohnya :

In [23]:
tambah_x_y=lambda x,y: x+y

In [24]:
tambah_x_y(35,4) ## Hasilnya 35 + 4 = 39

39