In [10]:
import os

os.getcwd()

'c:\\Users\\ganoa\\OneDrive\\Documents\\Belajar_Python'

In [11]:
os.listdir(os.getcwd())

['Data',
 'Import_csv.ipynb',
 'Lending-company-single-column-data.csv',
 'Lending-company.csv',
 'NumPy',
 'Pandas',
 'Python',
 'TextFile']

In [12]:
pd.read_csv('Lending-company.csv')

     LoanID;StringID;Product;CustomerGender;Location;Region;TotalPrice;StartDate;Deposit;DailyRate;TotalDays;AmountPaid30;AmountPaid60;AmountPaid360;LoanStatus360
0     1;id_1;Product B;Male;Location 2;Region 2;1660...
1     2;id_2;Product B;Male;Location 3;Region 3;;1/2...
2     3;id_3;Product C;Female;Location 5;Region 5;15...
3     4;id_4;Product B;Male;Location 6;Region 1;1660...
4     5;id_5;Product D;Female;Location 7;Region 2;20...
...                                                 ...
1038  1039;id_1039;Product B;Female;Location 39;Regi...
1039  1040;id_1040;Product B;Male;Location 50;Region...
1040  1041;id_1041;Product B;Male;Location 23;Region...
1041  1042;id_1042;Product C;NotSpecified;Location 5...
1042  1043;id_1043;Product B;Female;Location 142;Reg...

[1043 rows x 1 columns]

In [ ]:
filename = "Lending-company.csv"

file = open (filename, mode= 'r')
text= file.read()
text

In [4]:
type (text)

str

In [5]:
import pandas as pd

In [ ]:
pd.read_csv(text)