In [8]:
import pandas as pd
import numpy as np

In [9]:
invoices = pd.read_csv ("./invoice.csv")
invoices.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

### Data Type and Conversions
##### There are 7 data types:-

##### object : This data type is used for strings (i.e., sequences of characters)
##### int64 : Used for integers (whole numbers, no decimals)
##### float64 : Used for floating-point numbers (i.e., figures with decimals/fractions)
##### bool : Used for values that can only be True/False
##### datetime64 : Used for date and time values
##### timedelta : Used to represent the difference between datetimes
##### category : Used for values that take one out of a limited number of available options (categories donâ€™t have to, but can have explicit ordering)

## Converting data types
##### There are two standard ways of converting pandas data types:
##### .astype( )
##### conversion helper functions, like pd.to_numeric or pd.to_datetime

## .astype( )

In [10]:
invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                  float64
Type of Meal               category
Heroes Adjustment            object
dtype: object

In [13]:
### we need to convert the datatype
invoices['Date'] = invoices['Date'].astype('datetime64')
invoices['Type of Meal'] = invoices['Type of Meal'].astype('category')
invoices.dtypes