# **Step by Step Python Pandas features with data cleaning and manipulation projects**

In [2]:
import pandas as pd

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important;}</style>"))

C:\Users\ganoa\AppData\Local\Temp\ipykernel_2128\3013929331.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [4]:

invoices = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/invoices.csv')

In [5]:
invoices.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

## **Data Type and Conversions**
##### There are two standard ways of converting pandas data types:
##### *- .astype( )*
##### *- conversion helper functions, like pd.to_numeric or pd.to_datetime*
### **.astype( )**

In [6]:
df=invoices

In [7]:
df.dtypes

Order Id              object
Date                  object
Meal Id               object
Company Id            object
Date of Meal          object
Participants          object
Meal Price           float64
Type of Meal          object
Heroes Adjustment       bool
dtype: object

In [8]:
df.columns

Index(['Order Id', 'Date', 'Meal Id', 'Company Id', 'Date of Meal',
       'Participants', 'Meal Price', 'Type of Meal', 'Heroes Adjustment'],
      dtype='object')

In [9]:
df.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [10]:
df['Date'].astype("datetime64")
df['Date of Meal'].astype('datetime64')

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True

In [11]:
## Error because the utc=True
## So it can solve by use pd.datetime
df['Date'].astype("datetime64")
df['Date of Meal'].apply(pd.to_datetime)
df["Meal Price"].astype("int")
df["Type of Meal"].astype("category")

## Looking good so we can use Inplace=True or add the variabel to commit change

0        Breakfast
1           Dinner
2            Lunch
3           Dinner
4            Lunch
           ...
50012    Breakfast
50013    Breakfast
50014       Dinner
50015       Dinner
50016        Lunch
Name: Type of Meal, Length: 50017, dtype: category
Categories (3, object): ['Breakfast', 'Dinner', 'Lunch']

In [12]:
## Here I decide to add the variabel for commit the change
df['Date'] = df['Date'].astype("datetime64")
df['Date of Meal'] = df['Date of Meal'].apply(pd.to_datetime)
df["Meal Price"] = df["Meal Price"].astype("int")
df["Type of Meal"] = df["Type of Meal"].astype("category")

In [14]:
df.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                    int32
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [15]:
df["Date of Meal"]=df["Date of Meal"].apply(pd.to_datetime)

In [16]:
df.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False

In [17]:
df.isnull().sum()

Order Id             0
Date                 0
Meal Id              0
Company Id           0
Date of Meal         0
Participants         0
Meal Price           0
Type of Meal         0
Heroes Adjustment    0
dtype: int64

In [18]:
df["Meal Price"].isna().sum()

0

In [19]:
df.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                    int32
Type of Meal               category
Heroes Adjustment              bool
dtype: object

## **Data Type and Conversions** 
# *Clear*
## *the datatype is have be change, no missing value, column ["Meal Price] zero isnan*

# **Task 2 : Data Manipulation**
### *- Find what day of the month*
### *- Find what day of the Week*
### *- Find what time they buy*
### *- Find what menu they buy*
### *- Find their expense*

## **So I can visualization, to see pattern of buyer**

In [20]:
df.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False

In [21]:
df.columns

Index(['Order Id', 'Date', 'Meal Id', 'Company Id', 'Date of Meal',
       'Participants', 'Meal Price', 'Type of Meal', 'Heroes Adjustment'],
      dtype='object')

In [23]:
## Subset the dataset
subset1=df[['Participants','Date','Date of Meal',
'Meal Price', 'Type of Meal']]

In [24]:
subset1.head()

,Participants,Date,Date of Meal,Meal Price,Type of Meal
0,['David Bishop'],2016-05-27,2016-05-31 07:00:00+02:00,469,Breakfast
1,['David Bishop'],2018-09-27,2018-10-01 20:00:00+02:00,22,Dinner
2,['Karen Stansell'],2014-08-24,2014-08-23 14:00:00+02:00,314,Lunch
3,['Addie Patino'],2014-04-12,2014-04-07 21:00:00+02:00,438,Dinner
4,['Addie Patino' 'Susan Guerrero'],2015-07-28,2015-07-27 14:00:00+02:00,690,Lunch

In [25]:
subset1 = subset1[['Date','Participants','Type of Meal','Date of Meal',
'Meal Price']]

In [26]:
subset1.head()

,Date,Participants,Type of Meal,Date of Meal,Meal Price
0,2016-05-27,['David Bishop'],Breakfast,2016-05-31 07:00:00+02:00,469
1,2018-09-27,['David Bishop'],Dinner,2018-10-01 20:00:00+02:00,22
2,2014-08-24,['Karen Stansell'],Lunch,2014-08-23 14:00:00+02:00,314
3,2014-04-12,['Addie Patino'],Dinner,2014-04-07 21:00:00+02:00,438
4,2015-07-28,['Addie Patino' 'Susan Guerrero'],Lunch,2015-07-27 14:00:00+02:00,690

In [27]:
## Create new column Year,day of the month,day of the week
subset1["Year"]=subset1["Date"].dt.year
subset1["Day of The Month"]=subset1["Date"].dt.day
subset1["Day of The Week"]=subset1["Date"].dt.day_name()

In [28]:
subset1.head()

,Date,Participants,Type of Meal,Date of Meal,Meal Price,Year,Day of The Month,Day of The Week
0,2016-05-27,['David Bishop'],Breakfast,2016-05-31 07:00:00+02:00,469,2016,27,Friday
1,2018-09-27,['David Bishop'],Dinner,2018-10-01 20:00:00+02:00,22,2018,27,Thursday
2,2014-08-24,['Karen Stansell'],Lunch,2014-08-23 14:00:00+02:00,314,2014,24,Sunday
3,2014-04-12,['Addie Patino'],Dinner,2014-04-07 21:00:00+02:00,438,2014,12,Saturday
4,2015-07-28,['Addie Patino' 'Susan Guerrero'],Lunch,2015-07-27 14:00:00+02:00,690,2015,28,Tuesday

In [29]:
subset1.drop(columns=["Date"],inplace=True)
subset1.head()

,Participants,Type of Meal,Date of Meal,Meal Price,Year,Day of The Month,Day of The Week
0,['David Bishop'],Breakfast,2016-05-31 07:00:00+02:00,469,2016,27,Friday
1,['David Bishop'],Dinner,2018-10-01 20:00:00+02:00,22,2018,27,Thursday
2,['Karen Stansell'],Lunch,2014-08-23 14:00:00+02:00,314,2014,24,Sunday
3,['Addie Patino'],Dinner,2014-04-07 21:00:00+02:00,438,2014,12,Saturday
4,['Addie Patino' 'Susan Guerrero'],Lunch,2015-07-27 14:00:00+02:00,690,2015,28,Tuesday

## **Awesome the dataset is now have meaningfull information**
## *Now we just need to visualization the dataset using PowerBI or Tableau* 
## *import to SQL or CSV that can use by other team like data science*

# **Job DONE**

In [ ]:
subset1.to_csv("sales_invoice_done.csv",index=False)

In [31]:
df.to_csv("invoice_raw_dataset.csv",index=False)